<style>
table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 80%;
}

td {
  border: 1px solid #000000;
  text-align: left;
  padding: 10px;
  color: green;
}

tr:nth-child(1) {
  background-color: #dddddd;
}

th {
   border: 1px solid #000000;
  text-align: left;
  padding: 10px;
  color: blue;

}

h2 {
  color: red;
}
</style>